@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Inconsolata');

body {
  margin: 0;
  text-align: center;
  font-family: 'Neuton', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
}

h1, h2, h3 {
  font-weight: 700;
}

.logo {
  height: 10vmin;
  pointer-events: none;
}

.top-layer {
  padding-top: 15vh;
}

.vspace {
  padding-top: 5vh;
}

.img-grid {
  display: grid;
  grid-gap: .1em;
}

.plimg {
  object-fit: cover;
  width: 250px;
  height: 250px;
  padding: 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 10s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}