.btn-outline-primary { 
    color: #1DB954;
    border-color: #1DB954;
}

.btn-outline-primary:hover {
    background-color: #1DB954;
    border-color: #1DB954;
}

.logo {
    pointer-events: none;
    padding: 2vmin 2vmin;
  }
  